.board {
  padding: 1rem;
  background: var(--green-2);
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
}

.hand {
  grid-column: span 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hand > h2 {
  font-size: 32px;
  text-align: center;
  width: 100%;
}

.hand > img {
  width: calc(100% / 15);
}

.handActive, .hand > img:hover {
  transform: translateY(-10%);
}

.handPlayer {
  grid-column: 1 / -1;
}

.handCurrent {
  background: var(--green-1);
}

.mat {
  grid-column: 1 / -1;
  position: relative;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play > img {
  width: calc(100% / 15);
  transform-origin: 0% 100%;
}

.gameover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.winners {
  list-style: none;
  padding-left: 0;
  counter-reset: winners;
}

.winners li {
  counter-increment: winners;
  line-height: 1.5;
}

.winners li:before {
  content: counter(winners);
  background: var(--accent);
  width: 1em;
  line-height: 1em;
  text-align: center;
  border-radius: 50%;
  display: inline-block; 
  margin-right: 0.5em;
  border: 3px solid;
}