* {
  box-sizing: border-box;
}

/* https://colorhunt.co/palette/202238 */

:root {
  --accent: #fadcac;
  --green-1: #158467;
  --green-2: #197163;
  --green-3: #065446;
  --max-cards: 13;
}

body {
  background: var(--green-3);
  font-family: 'Gaegu', cursive;
  font-size: 32px;
  margin: 0;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0 0 0.5rem;
}

button,
select,
input[type='text'] {
  font: inherit;
  line-height: 1;
  border: 3px solid;
  border-radius: 3px;
}

button {
  background: var(--accent);
  cursor: pointer;
}

button:hover {
  transform: rotate(-3deg);
}

button:active {
  transform: rotate(-3deg) translateY(1px);
}

input[type='text'] {
  width: 100%;
}

.dialog {
  border: 3px solid;
  border-radius: 3px;
  padding: 3rem;
  background: white;
}
