.lobby {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lobby > div {
  min-width: 50rem;
}

.lobby h1 > img {
  height: 0.7em;
  vertical-align: middle;
  margin-right: 0.2em;
  transform: rotate(-15deg);
}

.inputCombo {
  display: flex;
}

.inputCombo > input {
  flex: 2;
  margin-right: 0.5rem;
}

.inputCombo > button {
  flex: 1;
}

.matchPlayers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.matchPlayers > h2 {
  width: 100%;
}

.matchPlayer {
  border: 3px solid;
  border-radius: 3px;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--accent);
}

.cardSkinSwitcher {
  text-align: center;
  border: 3px solid grey;
  border-radius: 3px;
}

.cardSkinSwitcher > div {
  display: inline-flex;
  padding: 12px 16px;
  border-radius: 8px;
  border: 3px solid;
  border-color: transparent;
  flex-direction: column;
  font-size: 24px;
}

.cardSkinSwitcher > div:hover {
  cursor: pointer;
}

.cardSkinSwitcher > div.selectedCardSkin {
  border-color: #bb2f40;
}
