.lobby {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lobby > div {
  min-width: 50rem;
}

.lobby h1 > img {
  height: 0.7em;
  vertical-align: middle;
  margin-right: 0.2em;
  transform: rotate(-15deg);
}

.inputCombo {
  display: flex;
}

.inputCombo > input {
  flex: 2;
  margin-right: 0.5rem;
}

.inputCombo > button {
  flex: 1;
}

.matchPlayers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.matchPlayers > h2 {
  width: 100%;
}

.matchPlayer {
  border: 3px solid;
  border-radius: 3px;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--accent);
}
